.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    border-radius: 8px;
    width: 225px;
    transition: .3s;
}

.card img:hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: scale(1.05);
}